<div class="jumbotron">
    <div class="container">
        <h1>'Welcome To <span class="logoTxt">Fruit Store</span>'</h1>
        <p class="lead">
            <img src="images/yeoman.png" alt="I'm Yeoman">
            <br> Welcome to you to my 1st MEAN Full Stack application page.
        </p>
        <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p> -->
    </div>
</div>
<section id="middle">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="images/images2.jpg">
                <h2>Lorem Ipsum</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <input value="Read More" class="btn btn-default">
            </div>
            <div class="col-md-4">
                <img src="images/images2.jpg">
                <h2>Richard McClintock</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage..</p>
                <input value="Read More" class="btn btn-default">
            </div>
            <div class="col-md-4">
                <img src="images/images2.jpg">
                <h2>Slightly Selievable</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden.</p>
                <input value="Read More" class="btn btn-default">
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Benefits :</h1>
                <ul class="featureList">
                    <li><i class="glyphicon glyphicon-ok" /> Lorem ipsum dolor sit amet.</li>
                    <li><i class="glyphicon glyphicon-ok" /> Maecenas eleifend dolor eu.</li>
                    <li><i class="glyphicon glyphicon-ok" /> Phasellus molestie tortor feugiats.</li>
                    <li><i class="glyphicon glyphicon-ok" /> Donec ac orci at neque sagittis</li>
                </ul>
            </div>
            <div class="col-md-offset-2 col-md-4">
                <img src="images/apple1.png">
            </div>
        </div>
    </div>
</section>
